.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Node
frontend/node_modules
frontend/build
frontend/dist
*.ico

### Atom
.editorconfig

*package-lock.json
*.DS_Store